{% extends "base.html" %}

{% block title %}
    À propos - Lionel Adandokpossi
{% endblock %}



{% block content %}
    <section>
        <h2>À propos</h2>
        <p>Je suis développeur Python Junior basé au Bénin pationné par la conception de produits web innovants.</p>
    </section>

    <section>
        <div>
            <h3>Objectifs</h3>
            <p>
                Avec plusieurs projets personnels réalisé, je continue activement ma phase de formation et de
                pratique où je développe et améliore mes compétences en langage Python et ses frameworks comme
                Django. <br>
                Mon objectif est de construire des projets concrets, d’améliorer mes connaissances et de
                collaborer avec d’autres développeurs pour évoluer dans ce domaine.
            </p>

            <h3>Approche</h3>
            <p>Je combine pensée produit, programmation et design centré utilisateur afin d'offrir des solutions
                adaptées aux besoins existants.</p>
        </div>

        <aside>
            <h3>Compétences</h3>
            <ul>
                <li>Base de données → PostgreSQL</li>
                <li>JavaScript</li>
                <li>Design Figma → HTML/CSS</li>
                <li>Python → Django</li>
            </ul>
            <a href="#" download>Télécharger mon CV</a>
        </aside>
    </section>

    <section>
        <h3>Éducation</h3>
        <ul>
            <li>Licence en Electrotechnique et Electronique — INSTI Lokossa</li>
            <li>Baccalauréat Scientifique — CEG Nokoué</li>
        </ul>
    </section>

{% endblock %}